.container {
    max-width: 1400px;
    width: 100%;
    margin: 40px auto;
    padding: 20px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.8;
    color: white;
    background-color: var(--main-bg-color);
    border-radius: 12px;
    box-shadow: none;
    border: none;
    transition: none;
}

.paragraph {
    margin-bottom: 20px;
    text-align: justify;
    font-weight: 500;
    color: rgb(3, 3, 3);
}

.paragraph strong {
    font-weight: 700;
    color: #000000;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.zasto-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.8s ease, transform 0.8s ease;
    pointer-events: none;
}

.zasto-container.fly-in {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.text-content {
    flex: 1.5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.zasto-image {
    flex: 2;
    width: 110%;
    height: 1200px;
    object-fit: contain;
    object-position: top;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .zasto-container {
        flex-direction: column;
        max-width: 100%;
        padding: 10px;
        box-sizing: border-box;
        overflow: visible;
        opacity: 0;
        transform: translateY(100%);
        transition: opacity 0.8s ease, transform 0.8s ease;
    }
    .zasto-container.fly-in {
        opacity: 1;
        transform: translateY(0);
    }
    .zasto-image {
        order: -1;
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .text-content {
        flex: none;
        width: 100%;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 1.4;
        overflow-wrap: break-word;
        word-break: break-word;
        box-sizing: border-box;
    }
}
